/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

html>body {
	font-family: 'LotteMartDream', sans-serif;
}

/* 라이브러리 */

/* 커스텀 */
.con {
	max-width: 1920px;
}

body {
	height: 20000px;
}

/* 헤더 바 */
.header_bar {
	position: relative; /* 수정: 헤더의 위치를 상대적(relative)으로 변경합니다. */
	width: 100%; /* 헤더의 너비를 화면 너비에 맞춥니다. */
	top: 0; /* 화면의 맨 위에 헤더를 배치합니다. */
	z-index: 1000; /* 다른 요소 위에 헤더를 표시합니다. */
}

/* 탑바 */
.top_bar {
	flex: space-between;
	position: relative; /* 수정: 헤더의 위치를 상대적(relative)으로 변경합니다. */
	left: 0;
	top: 30px;
	width: 100%;
	background-color: white;
}

.top_bar>.con>.menu_box_1>ul>li>a {
	font-weight: bold;
	color: #1e1e1e;
	font-size: 17px;
	padding: 0 10px;
	position: relative;
}

/* 1차메뉴 아이템 아래 막대기 */
.top_bar>.con>.menu_box_1>ul>li>a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 5px;
	width: 0;
	height: 2px;
	background-color: transparent;
	transition: background-color 0.3s, width 0.3s;
}

.top_bar>.con>.menu_box_1>ul>li:hover>a::after {
	width: 100%;
	background-color: black;
}

/* 2차 메뉴 */
.top_bar>.con>.menu_box_1>ul>li {
	position: relative;
}

.top_bar>.con>.menu_box_1>ul>li>ul {
	position: absolute;
	z-index: 1;
	top: 70%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	padding: 17px 0;
	transition: opacity 0.2s, visibility 0.2s;
}

.top_bar>.con>.menu_box_1>ul>li:hover>ul {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s, visibility 0.5s;
}

.top_bar>.con>.menu_box_1>ul>li>ul>li>a {
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	color: #666666;
	display: block;
	padding: 4px 0%;
}

.top_bar>.con>.menu_box_1>ul>li>ul>li:hover>a {
	color: #1e1e1e;
}

/* 2차메뉴 bg */
.top_bar .menu_box_1>.bg {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 0;
	left: 0;
	background-color: white;
	transition: height 0.4s;
}

/* 모바일 탑바 */
.mobile_top_bar {
	height: 57px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	border-bottom: 1px solid #e9e9e9;
}

/* 토글버튼 */
.btn_toggle {
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
}

.btn_toggle>div {
	position: absolute;
	background-color: black;
	height: 2px;
	width: 100%;
	top: 30%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(0);
	transition: transform 0.3s cubic-bezier(1, 0.14, 0, 1.29), top 0.3s;
}

.btn_toggle>div:last-child {
	top: 70%;
	transform: translateX(-50%) translateY(-50%) rotate(0);
}

.btn_toggle.active>div {
	top: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn_toggle.active>div:last-child {
	top: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

/* 로고 */
.logo {
	font-family: "MV Boli";
	font-style: italic;
	font-weight: 469;
	font-size: 30px;
	line-height: 20px;
	/* or 49% */
	color: #ffc0cd;
}

/* 메인페이지 */
.home-box {
	margin-top: 80px; /* 원하는 만큼의 간격으로 조정하세요 */
	width: 100%;
}

.home-box {
	background-color: #ffc0cd;
	height: 469px;
	width: 100%;
}

.img-box {
	position: absolute;
	filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
	padding-left: 760px;
	padding-top: 130px;
}

/* 이미지 */
.img-box img {
	border-radius: 20px;
	width: 800px;
	height: 450px;
}

/* 배경 텍스트 */
.text-box {
	position: absolute;
	top: 270px;
	left: 21%; /* 이미지의 오른쪽에 위치하도록 설정 */
	font-size: 28px;
	z-index: 1; /* 이미지 위로 텍스트 박스를 올리기 위해 z-index 설정 */
}

.text-box .spring-info, .text-box .spring-greeting {
	margin-bottom: 50px; /* 대전, 충청도 벚꽃 보러가자!와 안녕, 봄! 사이의 간격을 늘립니다. */
}

.arrow-container {
	position: relative;
}

.left {
	position: absolute;
	left: 20%;
	border: none;
	background-color: transparent;
	padding-top: 40px;
	width: 60px;
	height: 80px;
}

.right {
	position: absolute;
	left: 36%;
	border: none;
	background-color: transparent;
	padding-top: 40px;
	width: 60px;
	height: 80px;
}

.arrow svg {
	width: 100%;
	height: 100%;
}

.arrow svg polyline {
	stroke-width: 5px; /* 선의 두께를 6px로 설정 */
}

.separator {
	font-size: 25px; /* 원하는 크기로 설정하세요 */
	position: absolute;
	left: 28%;
	margin-top: 2.3%;
}

/* 네비 박스 */
.nav-box {
	position: absolute;
	width: 700px;
	height: 279px;
	left: 400px;
	top: 750px;
	background-color: #F8EFD1;
	display: inline-block;
}

/* 네비 박스 텍스트*/
.nav-box .text-box2 {
	position: absolute;
	top: 45px;
	left: 40px;
	font-size: 35px;
	line-height: 3; /* 텍스트 높이를 조절합니다. 기본값은 normal입니다. */
}

.nav-box .text-box2>p {
	font-size: 20px;
}

.nav-box .img-box2 {
	position: absolute;
	left: 120px;
	top: -100px;
}

.nav-box .img-box2>img {
	margin-left: auto;
	margin-right: auto;
	min-width: 650px;
}

.nav-box2 {
	position: absolute;
	width: 252px;
	height: 279px;
	left: 600px;
	background-color: #9A9A9A;
	z-index: 2;
}

.nav-box2::after {
	content: '';
 	position: absolute;
  	right: -40px;
  	top: 25%;
  	margin-top: -20px;
  	border-top: 20px solid transparent;
  	border-right: 20px solid transparent;
  	border-bottom: 20px solid transparent;
  	border-left: 20px solid #9A9A9A;
}

.nav-box2 :first-child {
	position: absolute;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 24px;
	top: 90px;
	left: 20%;	
}

.nav-box2 :last-child {
	position: absolute;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 18px;
	top: 120px;
	left: 15%;
	line-height: 100px;
	
}

.nav-box .nav-box2 a:last-child:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}


.nav-box .img-box3 {
    position: absolute;
    width: 70%; /* 너비 설정 */
    height: 100%; /* nav-box2의 높이와 동일하게 설정 */
    top: 0; /* nav-box2와 동일한 위치로 설정 */
    left: 752px; /* nav-box2의 너비만큼 더해줌 */
}

.nav-box .img-box3 a {
    display: block; /* 블록 레벨 요소로 설정하여 너비와 높이가 적용됩니다 */
}

.nav-box .img-box3 a img {
    width: 410px; /* 이미지의 너비를 부모 요소에 맞춥니다 */
    height: 279px; /* 이미지의 높이를 부모 요소에 맞춥니다 */
    object-fit: cover; /* 이미지가 요소에 꽉 채워지도록 설정합니다 */
}

.nav-box .nav-box3 {
	position: absolute;
	width: 250px;
	height: 279px;
	left: 0px;
	top: 100%;
	background: #A96969;
	z-index: 3;
}

.nav-box3::after {
	content: '';
  	position: absolute;
  	right: -40px;
  	top: 25%;
  	margin-top: -20px;
  	border-top: 20px solid transparent;
  	border-right: 20px solid transparent;
  	border-bottom: 20px solid transparent;
  	border-left: 20px solid #A96969;
}

.nav-box .nav-box3 a:first-child {
    position: absolute;
	width: auto;
	height: auto;
	left: 13%;
	top: 25%;  
    color: white; 
	font-weight: 400;
	font-size: 24px;
	line-height: 50px;
}

.nav-box .nav-box3 a:last-child {
    position: absolute;
	width: auto;
	height: auto;
	left: 9%;
	top: 35%;  
    color: white;    
	font-weight: 700;
	font-size: 20px;
	line-height: 120px;
 
}

.nav-box .nav-box3 a:last-child:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.nav-box .img-box4 {
    position: absolute;
    width: 70%; 
    height: 100%; 
    top: 100%; 
    left: 35%; 
}

.nav-box .img-box4 a {
    display: block; /* 블록 레벨 요소로 설정하여 너비와 높이가 적용됩니다 */
}

.nav-box .img-box4 a img {
    width: 355px; /* 이미지의 너비를 부모 요소에 맞춥니다 */
    height: 279px; /* 이미지의 높이를 부모 요소에 맞춥니다 */
    object-fit: cover; /* 이미지가 요소에 꽉 채워지도록 설정합니다 */
}

.nav-box4 {
	position: absolute;
	width: 252px;
	height: 279px;
	left: 600px;
	top: 100%;
	background-color: #ffffff;
}

.nav-box4 :first-child {
	position: absolute;
	font-size: 25px;
	color: black;
	font-weight: 600;
	font-size: 24px;
	top: 90px;
	left: 25%;
}

.nav-box4 :last-child {
	position: absolute;
	font-size: 25px;
	color: black;
	font-weight: 700;
	font-size: 18px;
	top: 120px;
	left: 20%;
	line-height: 100px;
	
}

.nav-box .nav-box4 a:last-child:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.nav-box5 {
	position: absolute;
	width: 310px;
	height: 279px;
	left: 852px;
	top: 100%;
	background-color: #F8EFD1;
}

.nav-box5 :first-child {
	position: absolute;
	font-size: 25px;
	color: black;
	font-weight: 600;
	font-size: 26px;
	top: 90px;
	left: 30px;
}

.nav-box5 :last-child {
	position: absolute;
	font-size: 25px;
	color: black;
	font-weight: 700;
	font-size: 22px;
	top: 120px;
	left: 25%;
	line-height: 100px;
	
}

.nav-box .nav-box5 a:last-child:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.nav-box .nav-box6 {
	position: absolute;
	width: 600px;
	height: 432px;
	top: 126px;
	right: 100%;
	background: #F8EFD1;
	z-index: -1000;
}

/* 날씨별 엑티비티 찾기 */
.weather-box > h2 {
	position: absolute;
	color: black;
	font-weight: 800;
	font-size: 30px;
	top: 145%;
	left: 400px;
}

.weather-box > p1 {
	position: absolute;
	color: black;
	font-weight: 500;
	font-size: 27px;
	top: 152%;
	left: 400px;
}

.weather-box > p2 {
	position: absolute;
	color: black;
	font-weight: 400;
	font-size: 22px;
	top: 160%;
	left: 400px;
}

.search-box {
    position: absolute;
    left: 400px;
    right: 1179px;
    top: 1580px;
    bottom: 3416px;
    box-sizing: border-box;
}
    
.input {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 100%;
}
    
.input input[type="text"] {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 30px;
    
}
    
.input svg {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}
    
.input-bordered {
    border: 1px solid #000000;
	border-radius: 30px;
}

.weather-box > p3 {
	position: absolute;
	color: black;
	font-family: 'Kantumruy';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	top: 172%;
	left: 400px;
}

.weather-box > p4 {
	position: absolute;
	color: black;
	font-family: 'Kantumruy';
	font-style: normal;
	font-weight: 300;
	font-size: 35px;
	top: 180%;
	left: 400px;
}