/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

html>body {
	font-family: 'LotteMartDream', sans-serif;
}

/* 라이브러리 */

/* 커스텀 */
.con {
	max-width: 1920px;
}

body {
	height: 100%;
}


/* 헤더 바 */
.header_bar {
	position: relative; /* 수정: 헤더의 위치를 상대적(relative)으로 변경합니다. */
	width: 100%; /* 헤더의 너비를 화면 너비에 맞춥니다. */
	top: 0; /* 화면의 맨 위에 헤더를 배치합니다. */
	z-index: 1000; /* 다른 요소 위에 헤더를 표시합니다. */
}

/* 탑바 */
.top_bar {
	flex: space-between;
	position: relative; /* 수정: 헤더의 위치를 상대적(relative)으로 변경합니다. */
	left: 0;
	top: 30px;
	width: 100%;
	background-color: white;
}

.top_bar>.con>.menu_box_1>ul>li>a {
	font-weight: bold;
	color: #1e1e1e;
	font-size: 17px;
	padding: 0 10px;
	position: relative;
}

/* 1차메뉴 아이템 아래 막대기 */
.top_bar>.con>.menu_box_1>ul>li>a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 5px;
	width: 0;
	height: 2px;
	background-color: transparent;
	transition: background-color 0.3s, width 0.3s;
}

.top_bar>.con>.menu_box_1>ul>li:hover>a::after {
	width: 100%;
	background-color: black;
}

/* 2차 메뉴 */
.top_bar>.con>.menu_box_1>ul>li {
	position: relative;
}

.top_bar>.con>.menu_box_1>ul>li>ul {
	position: absolute;
	z-index: 1;
	top: 70%;
	left: 50%; /* 가운데 정렬을 위해 왼쪽 위치를 50%로 설정 */
    transform: translateX(-50%); /* 왼쪽 위치를 요소의 너비의 절반만큼 왼쪽으로 이동 */
    text-align: center; /* 텍스트를 가운데 정렬 */
	opacity: 0;
	visibility: hidden;
	padding: 17px 0;
	transition: opacity 0.2s, visibility 0.2s;
}

.top_bar>.con>.menu_box_1>ul>li:hover>ul {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s, visibility 0.5s;
}

.top_bar>.con>.menu_box_1>ul>li>ul>li>a {
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #666666;
	display: block;
	padding: 4px 0%;
}

.top_bar>.con>.menu_box_1>ul>li>ul>li:hover>a {
	color: #1e1e1e;
}

/* 2차메뉴 bg */
.top_bar .menu_box_1>.bg {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 0;
	left: 0;
	background-color: white;
	transition: height 0.4s;
}

/* 모바일 탑바 */
.mobile_top_bar {
	height: 57px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	border-bottom: 1px solid #e9e9e9;
}


/* 로고 */
.logo {
	font-family: "MV Boli";
	font-style: italic;
	font-weight: 469;
	font-size: 30px;
	line-height: 20px;
	/* or 49% */
	color: #ffc0cd;
}

/* 메인페이지 */
.home-box {
	margin-top: 80px; /* 원하는 만큼의 간격으로 조정하세요 */
	width: 100%;
}

.home-box {
	background-color: #ffc0cd;
	height: 469px;
	width: 100%;
}

.img-box {
	position: absolute;
	filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
	padding-left: 760px;
	padding-top: 130px;
}

/* 이미지 */
.img-box img {
	border-radius: 20px;
	width: 800px;
	height: 450px;
}

/* 배경 텍스트 */
.text-box {
	position: absolute;
	top: 340px;
	left: 21%; /* 이미지의 오른쪽에 위치하도록 설정 */
	font-size: 35px;
	z-index: 1; /* 이미지 위로 텍스트 박스를 올리기 위해 z-index 설정 */
	background-color: rgba(0, 0, 0, 0.4); 
	padding: 35px;
}

.text-box .spring-info, .text-box .spring-greeting {
	line-height: 100px;
}

.arrow-container {
	position: relative;
}

.left {
	position: absolute;
	left: 20%;
	border: none;
	background-color: transparent;
	padding-top: 40px;
	width: 60px;
	height: 80px;
}

.right {
	position: absolute;
	left: 36%;
	border: none;
	background-color: transparent;
	padding-top: 40px;
	width: 60px;
	height: 80px;
}

.arrow svg {
	width: 100%;
	height: 100%;
}

.arrow svg polyline {
	stroke-width: 5px; /* 선의 두께를 6px로 설정 */
}

.separator {
	font-size: 25px; /* 원하는 크기로 설정하세요 */
	position: absolute;
	left: 28%;
	margin-top: 2.3%;
}

/* 네비 박스 */
.nav-box {
	position: absolute;
	width: 700px;
	height: 279px;
	left: 400px;
	top: 800px;
	background-color: #F8EFD1;
	display: inline-block;
}

/* 네비 박스 텍스트*/
.nav-box .text-box2 {
	position: absolute;
	top: 45px;
	left: 40px;
	font-size: 35px;
	line-height: 2.5; /* 텍스트 높이를 조절합니다. 기본값은 normal입니다. */
}

.nav-box .text-box2>a {
	font-size: 20px;
}

.nav-box .text-box2 a:last-child:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.nav-box .img-box2 {
	position: absolute;
	left: 120px;
	top: -100px;
}

.nav-box .img-box2>img {
	margin-left: auto;
	margin-right: auto;
	min-width: 650px;
}

.nav-box2 {
	position: absolute;
	width: 252px;
	height: 279px;
	left: 600px;
	background-color: #9A9A9A;
	z-index: 2;
}

.nav-box2::after {
	content: '';
 	position: absolute;
  	right: -40px;
  	top: 25%;
  	margin-top: -20px;
  	border-top: 20px solid transparent;
  	border-right: 20px solid transparent;
  	border-bottom: 20px solid transparent;
  	border-left: 20px solid #9A9A9A;
}

.nav-box2 :first-child {
	position: absolute;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 24px;
	top: 90px;
	left: 20%;	
}

.nav-box2 :last-child {
	position: absolute;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 18px;
	top: 120px;
	left: 15%;
	line-height: 100px;
	
}

.nav-box .nav-box2 a:last-child:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}


.nav-box .img-box3 {
    position: absolute;
    width: 70%; /* 너비 설정 */
    height: 100%; /* nav-box2의 높이와 동일하게 설정 */
    top: 0; /* nav-box2와 동일한 위치로 설정 */
    left: 752px; /* nav-box2의 너비만큼 더해줌 */
}

.nav-box .img-box3 a {
    display: block; /* 블록 레벨 요소로 설정하여 너비와 높이가 적용됩니다 */
}

.nav-box .img-box3 a img {
    width: 410px; /* 이미지의 너비를 부모 요소에 맞춥니다 */
    height: 279px; /* 이미지의 높이를 부모 요소에 맞춥니다 */
    object-fit: cover; /* 이미지가 요소에 꽉 채워지도록 설정합니다 */
}

.nav-box .nav-box3 {
	position: absolute;
	width: 250px;
	height: 279px;
	left: 0px;
	top: 100%;
	background: #A96969;
	z-index: 3;
}

.nav-box3::after {
	content: '';
  	position: absolute;
  	right: -40px;
  	top: 25%;
  	margin-top: -20px;
  	border-top: 20px solid transparent;
  	border-right: 20px solid transparent;
  	border-bottom: 20px solid transparent;
  	border-left: 20px solid #A96969;
}

.nav-box .nav-box3 a:first-child {
    position: absolute;
	width: auto;
	height: auto;
	left: 13%;
	top: 25%;  
    color: white; 
	font-weight: 400;
	font-size: 24px;
	line-height: 50px;
}

.nav-box .nav-box3 a:last-child {
    position: absolute;
	width: auto;
	height: auto;
	left: 9%;
	top: 35%;  
    color: white;    
	font-weight: 700;
	font-size: 20px;
	line-height: 120px;
 
}

.nav-box .nav-box3 a:last-child:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.nav-box .img-box4 {
    position: absolute;
    width: 70%; 
    height: 100%; 
    top: 100%; 
    left: 35%; 
}

.nav-box .img-box4 a {
    display: block; /* 블록 레벨 요소로 설정하여 너비와 높이가 적용됩니다 */
}

.nav-box .img-box4 a img {
    width: 355px; /* 이미지의 너비를 부모 요소에 맞춥니다 */
    height: 279px; /* 이미지의 높이를 부모 요소에 맞춥니다 */
    object-fit: cover; /* 이미지가 요소에 꽉 채워지도록 설정합니다 */
}

.nav-box4 {
	position: absolute;
	width: 252px;
	height: 279px;
	left: 600px;
	top: 100%;
	background-color: #ffffff;
}

.nav-box4 :first-child {
	position: absolute;
	font-size: 25px;
	color: black;
	font-weight: 600;
	font-size: 24px;
	top: 90px;
	left: 25%;
}

.nav-box4 :last-child {
	position: absolute;
	font-size: 25px;
	color: black;
	font-weight: 700;
	font-size: 18px;
	top: 120px;
	left: 20%;
	line-height: 100px;
	
}

.nav-box .nav-box4 a:last-child:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.nav-box5 {
	position: absolute;
	width: 310px;
	height: 279px;
	left: 852px;
	top: 100%;
	background-color: #F8EFD1;
}

.nav-box5 :first-child {
	position: absolute;
	font-size: 25px;
	color: black;
	font-weight: 600;
	font-size: 26px;
	top: 90px;
	left: 30px;
}

.nav-box5 :last-child {
	position: absolute;
	font-size: 25px;
	color: black;
	font-weight: 700;
	font-size: 22px;
	top: 120px;
	left: 25%;
	line-height: 100px;
	
}

.nav-box .nav-box5 a:last-child:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.nav-box .nav-box-bg {
	position: absolute;
	width: 600px;
	height: 432px;
	top: 126px;
	right: 100%;
	background: #F8EFD1;
	z-index: -1000;
}

/* 날씨별 엑티비티 찾기 */
.weather-box > h2 {
	position: absolute;
	color: black;
	font-weight: 800;
	font-size: 30px;
	top: 1450px;
	left: 400px;
}

.weather-box > p1 {
	position: absolute;
	color: black;
	font-weight: 500;
	font-size: 27px;
	top: 1520px;
	left: 400px;
}

.weather-box > p2 {
	position: absolute;
	color: black;
	font-weight: 400;
	font-size: 22px;
	top: 1570px;
	left: 400px;
}

.search-box {
    position: absolute;
    left: 400px;
    right: 1179px;
    top: 1620px;
    bottom: 3416px;
    box-sizing: border-box;
}
    
.input {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 100%;
}
    
.input input[type="text"] {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 30px;
    
}
    
.input svg {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}
    
.input-bordered {
    border: 1px solid #000000;
	border-radius: 30px;
}

.weather-box > p3 {
	position: absolute;
	color: black;
	font-family: 'Kantumruy';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	top: 1670px;
	left: 400px;
}

.weather-box > p4 {
	position: absolute;
	color: black;
	font-family: 'Kantumruy';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	top: 1750px;
	left: 400px;
}

.weather_img {
    width: 90px; /* 이미지의 너비 설정 */
    height: auto; /* 높이를 자동으로 조정하여 가로세로 비율 유지 */
    display: block; /* 이미지를 블록 수준 요소로 표시 */
	margin-top: 920px;
	margin-left: 650px;
}

.weather_place {
    width: 600px; /* 이미지의 너비 설정 */
    height: auto; /* 높이를 자동으로 조정하여 가로세로 비율 유지 */
	top: -320px;
	left: 965px;
	position: relative;	
	border-top-left-radius: 20px; /* 왼쪽 상단 모서리 둥글게 */
    border-bottom-left-radius: 20px; /* 왼쪽 하단 모서리 둥글게 */
}

/* 테마여행 메뉴*/

.theme_place > p {
	position: absolute;
	color: black;
	font-weight: 800;
	font-size: 30px;
	top: 2000px;
	left: 400px;	
}

.theme_nav .theme_nav_img1,
.theme_nav .theme_nav_img2,
.theme_nav .theme_nav_img3,
.theme_nav .theme_nav_img4,
.theme_nav .theme_nav_img5 {
    position: absolute;
    width: 162px;
    height: 45px;
    left: 400px;
    background-size: cover; /* 이미지가 요소에 맞게 조절되도록 설정 */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.theme_nav .theme_nav_img1 {
    top: 2080px;
    background-image: url(https://i.ibb.co/sJHN7Z6/image.jpg);
}

.theme_nav .theme_nav_img2 {
    top: 2150px;
    background-image: url(https://i.ibb.co/6PpFgqf/image.jpg);
}

.theme_nav .theme_nav_img3 {
    top: 2220px;
    background-image: url(https://i.ibb.co/9W4DyNn/image.jpg);
}

.theme_nav .theme_nav_img4 {
    top: 2290px;
    background-image: url(https://i.ibb.co/yn0vFyR/1.jpg);
}

.theme_nav .theme_nav_img5 {
    top: 2360px;
    background-image: url(https://i.ibb.co/NYR1hVM/image.jpg);
}

/* 테마 여행 추천 여행지1 */
/* 첫 번째 이미지 스타일링 */
.theme_nav_place1 .first-image {
    /* 첫 번째 이미지에 대한 스타일 지정 */
	width: 250px; /* 이미지의 너비 설정 */
    height: 300px;
	top: 2080px;
	left: 700px;
	position: absolute;
	border-radius: 20px;	
}

/* 두 번째 이미지 스타일링 */
.theme_nav_place1 .second-image {
    /* 두 번째 이미지에 대한 스타일 지정 */
	width: 160px; /* 이미지의 너비 설정 */
    height: 135px;
	top: 2080px;
	left: 960px;
	position: absolute;
	border-radius: 20px;	
}

/* 세 번째 이미지 스타일링 */
.theme_nav_place1 .third-image {
    /* 세 번째 이미지에 대한 스타일 지정 */
	width: 160px; /* 이미지의 너비 설정 */
    height: 135px;
	top: 2245px;
	left: 960px;
	position: absolute;
	border-radius: 20px;	
}

/* 텍스트 스타일링 */
.theme_nav_place1 p {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
	top: 2380px;
	left: 710px;
	position: absolute;
}

/* 테마 여행 추천 여행지2 */
/* 첫 번째 이미지 스타일링 */
.theme_nav_place2 .first-image {
    /* 첫 번째 이미지에 대한 스타일 지정 */
	width: 250px; /* 이미지의 너비 설정 */
    height: 300px;
	top: 2080px;
	left: 1150px;
	position: absolute;
	border-radius: 20px;	
}

/* 두 번째 이미지 스타일링 */
.theme_nav_place2 .second-image {
    /* 두 번째 이미지에 대한 스타일 지정 */
	width: 160px; /* 이미지의 너비 설정 */
    height: 135px;
	top: 2080px;
	left: 1410px;
	position: absolute;
	border-radius: 20px;	
}

/* 세 번째 이미지 스타일링 */
.theme_nav_place2 .third-image {
    /* 세 번째 이미지에 대한 스타일 지정 */
	width: 160px; /* 이미지의 너비 설정 */
    height: 135px;
	top: 2245px;
	left: 1410px;
	position: absolute;
	border-radius: 20px;	
}

/* 텍스트 스타일링 */
.theme_nav_place2 p {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
	top: 2380px;
	left: 1165px;
	position: absolute;
}

.theme_nav_bg {
	position: absolute;
	width: 1920px;
	height: 270px;
	top: 2170px;
	background: #F8EFD1;
	z-index: -1000;
}

/* 시즌별 추천 여행지 메인 */

.trip-header {
	text-align: center;
}

.trip-header > h2{
	font-size: 35px;
	color: black;
	margin-left: 50px;
}
.trip-header > p{
	color: black;
	margin-left: 50px;
}

.지역별 {
    text-align: center; 
    margin-right: 80px;
}

.지역별 a {
    display: inline-block; 
    margin: 30px 0px 0px 120px; 
    text-decoration: none; 
    color: black; 
}

.지역별 a:hover {
    color: #ff69b4; 
}

.지역별 .daejeon, .Chungbuk, .Chungnam {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ff69b4;
}

.지역별 .daejeon {
    background-image: url('https://i.ibb.co/HXHzGBp/image.jpg');
}

.지역별 .Chungbuk {
    background-image: url('https://i.ibb.co/hf2mzt5/image.jpg');
}

.지역별 .Chungnam {
    background-image: url('https://i.ibb.co/wStF49s/jv11119403.jpg');
}

.지역별 .daejeon-container,
.지역별 .Chungbuk-container,
.지역별 .Chungnam-container {
    margin-top: 10px; 
    text-align: center;
    font-size: 18px;
}

.jb-box {
   width: 100%; 
   height: 700px;
   margin-top: 50px;
   position: relative;
}

.fullscreen-video {
	width: 100%;
	height: 700px;
	object-fit: cover;
	display: none;
	
}

.fullscreen-video.active {
    display: block;
}

/* 지역별 엑티비티 */

.trip-header {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin-bottom: 200px;
}

.trip-header > h2 {
    font-size: 40px;
}

.local_site {
	text-align: left;
	margin-left: 550px;
	font-size: 18px;
	position: absolute;
	top: 700px;
}

.local_site a {
    display: inline-block;
    margin-right: 10px; 
    color: #ff69b4;
    font-size: 14px;
	left: 50px;
	line-height: 70px;
	
}


.trip_bg > img{
	position: reaction;
	margin-top: 50px;
	width: 100%;
	height: 600px;
	z-index: -1000;
}

.bg_text_box {
	position: absolute;
	top: 500px;
	left: 28%; /* 이미지의 오른쪽에 위치하도록 설정 */
	font-size: 35px;
	z-index: 1; /* 이미지 위로 텍스트 박스를 올리기 위해 z-index 설정 */
	background-color: rgba(0, 0, 0, 0.4); 
	padding: 35px;
}


.지역별_nav a:hover {
    color: #ff69b4; 
}

.지역별_nav .Daejeon, .Chungbuk, .Chungnam {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ff69b4;
}

.지역별_nav .Daejeon {
    background-image: url('https://i.ibb.co/HXHzGBp/image.jpg');
}

.지역별_nav .Chungbuk {
    background-image: url('https://i.ibb.co/hf2mzt5/image.jpg');
}

.지역별_nav .Chungnam {
    background-image: url('https://i.ibb.co/wStF49s/jv11119403.jpg');
}

.지역별_nav .Daejeon-container,
.지역별_nav .Chungbuk-container,
.지역별_nav .Chungnam-container {
    margin-top: 10px; 
    text-align: center;
    font-size: 12px;
}

/* 지역별 섹션에 대한 스타일링 */
.지역별_nav {
    position: fixed;
    top: 90%; /* 필요에 따라 상단 위치 조정 */
    left: 20px; /* 필요에 따라 왼쪽 위치 조정 */
    transform: translateY(-50%);
    text-align: center; 
    margin-right: 80px;	
}

/* 지역별 섹션 내 링크 스타일링 */
.지역별_nav a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    margin: -40px 0px 0px 0px; 
    text-decoration: none; 
    color: black; 
}

/* 컨테이너 및 해당 내용 스타일링 */
.지역별_nav .Chungnam,
.지역별_nav .Chungbuk,
.지역별_nav .Daejeon,
.지역별_nav .Chungnam-container,
.지역별_nav .Chungbuk-container,
.지역별_nav .Daejeon-container {
    vertical-align: middle;
    width: 60px; /* 필요에 따라 너비 조정 */
    height: 60px; /* 필요에 따라 높이 조정 */
    margin-right: 10px; /* 필요에 따라 여백 조정 */
}

.weather-container {
    position: fixed;
    top: 100px; /* 위에서 20px 위치에 고정 */
    right: 20px; /* 오른쪽에서 20px 위치에 고정 */
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    z-index : 1000;
}

.weather-icon {
    margin-bottom: 10px;
}

.weather-icon img {
    width: 100px; /* 아이콘 크기 조정 */
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
}

.temperature, .city {
    margin-bottom: 5px;
}

:root {
  --white-100: hsl(206, 5%, 100%);
  --white-200: hsl(206, 5%, 90%);
  --white-300: hsl(206, 5%, 80%);
  --white-400: hsl(206, 5%, 65%);
  --white-500: hsl(206, 5%, 45%);
  
  --black-100: hsl(210, 20%, 10%);
  --black-200: hsl(210, 20%, 8%);
  --black-300: hsl(210, 20%, 6%);
  --black-400: hsl(210, 20%, 4%);
  --black-500: hsl(210, 20%, 1%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


.a, button {
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: none;
}

.container {
  display: block;
  max-width: 100%; /* 이미지의 최대 너비를 부모 요소의 너비에 맞게 조정 */
  height: auto; /* 이미지의 높이를 자동으로 조정하여 비율 유지 */
  max-height: 600px; /* 이미지의 최대 높이를 600px로 제한 */
  object-fit: cover; /* 이미지가 요소에 꽉 차게 표시되도록 설정 */
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.swiper-wrapper {
	width: 1920px;
	height: 600px;
}

.swiper-slide {
	max-width: 1920px;
	max-height: 400px;
	
}

.container img {
  max-width: 800px; /* Set the maximum width to 1600px */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  max-height: 450px; /* Set the maximum height to 450px */
  width: auto; /* Ensure the image fills the container horizontally */
  object-fit: cover; /* Ensure the image fills the container */
}
/* Elements */
.section {
  margin: 0 auto;
  padding-block: 5rem;
  margin-top: 2%;
  max-width: 1400px; /* Set the maximum width to 1600px */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  max-height: 450px; /* Set the maximum height to 450px */
  width: auto; /* Ensure the image fills the container horizontally */
  margin-left: 18%;
}

.container {
  max-width: 72rem;
  height: auto;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: var(--white-100);
  background: var(--black-300);
}

.daejeon_hot {
    margin-left: 24%;
    margin-top: 8%;
    margin-right: 10%;
}

.daejeon_hot > h2 {
    font-size: 24px;
    font-weight: bold;
}

.daejeon_hot > p {
    font-size: 18px;
    line-height: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.square-box {
    width: calc(33.33%); /* 한 행에 3개의 상자를 배치하고 간격을 조정합니다. */
    margin-bottom: 20px; /* 행 사이의 간격을 조정합니다. */
	margin-top: 4%;
}

.square-box img {
    width: 90%;
    height: auto;
}

.square-box p {
    margin-top: 10px;
}